*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.container-body{
  width: 100%;
  height: 100vh;
  display: flex;
  background: #6c6c6c;
  justify-content: center;
  align-items: center;
}


.container{
  max-width: 700px;
  width: 100%;
  height: 80vh;
  background-color: #f4f4f4;
  padding: 40px 45px;
  border-radius: 15px;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);  
}



.container .title{
  font-size: 36px;
  font-weight: 500;
  margin-left: 0;
  margin-bottom: 20px;
  flex-direction: row;
  padding-bottom:10px;
  width:180px;
  color:#78788c;
}

.container form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


form .user-details .input-box{
  margin: 20px 0 12px 0;
  height: 80px;
  width: 47%;

}
.user-details .input-box .details{
  display: block ;
  font-weight: 500;
  margin-bottom: 5px;
  color:#78788c;

}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline:none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;

}
.user-details .input-box input:hover{

  border-bottom: 2px solid rgba(234, 15, 15, 0.7);

}

.user-details .input-box textarea{
  height: 45px;
  width: 100%;
  outline:none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
}
.user-details .input-box textarea:hover{
  border-bottom: 2px solid rgba(234, 15, 15, 0.7);

}
.input10{
  margin-top: 30px;
  width: 700px;
}

.form-btn{
  height: 45px;
  padding-right: 25px !important;
  padding-left: 25px !important;
  margin-top: 50px !important;
  background: #d75656 !important;
  border-radius: 20px !important;
  box-shadow: 5px 5px 25px -5px rgba(234, 15, 15, 0.7) !important;

}